<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mysql.mapper.BaseControlMapper">
  <resultMap id="BaseResultMap" type="com.me.mysql.domain.BaseControl">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="templateID" jdbcType="INTEGER" property="templateID" />
    <result column="labelName" jdbcType="VARCHAR" property="labelName" />
    <result column="controlID" jdbcType="INTEGER" property="controlID" />
    <result column="controlType" jdbcType="VARCHAR" property="controlType" />
    <result column="controlValue" jdbcType="VARCHAR" property="controlValue" />
    <result column="defaultValue" jdbcType="VARCHAR" property="defaultValue" />
    <result column="props" jdbcType="VARCHAR" property="props" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="placeholder" jdbcType="VARCHAR" property="placeholder" />
    <result column="readOnly" jdbcType="BIT" property="readOnly" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createUser" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, templateID, labelName, controlID, controlType, controlValue, defaultValue, props, 
    options, placeholder, readOnly, required, createTime, createUser
  </sql>
  <select id="selectByExample" parameterType="com.me.mysql.domain.BaseControlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from basecontrol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from basecontrol
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from basecontrol
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.me.mysql.domain.BaseControlExample">
    delete from basecontrol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.me.mysql.domain.BaseControl">
    insert into basecontrol (pid, templateID, labelName, 
      controlID, controlType, controlValue, 
      defaultValue, props, options, 
      placeholder, readOnly, required, 
      createTime, createUser)
    values (#{pid,jdbcType=INTEGER}, #{templateID,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR}, 
      #{controlID,jdbcType=INTEGER}, #{controlType,jdbcType=VARCHAR}, #{controlValue,jdbcType=VARCHAR}, 
      #{defaultValue,jdbcType=VARCHAR}, #{props,jdbcType=VARCHAR}, #{options,jdbcType=VARCHAR}, 
      #{placeholder,jdbcType=VARCHAR}, #{readOnly,jdbcType=BIT}, #{required,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.me.mysql.domain.BaseControl">
    insert into basecontrol
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="templateID != null">
        templateID,
      </if>
      <if test="labelName != null">
        labelName,
      </if>
      <if test="controlID != null">
        controlID,
      </if>
      <if test="controlType != null">
        controlType,
      </if>
      <if test="controlValue != null">
        controlValue,
      </if>
      <if test="defaultValue != null">
        defaultValue,
      </if>
      <if test="props != null">
        props,
      </if>
      <if test="options != null">
        options,
      </if>
      <if test="placeholder != null">
        placeholder,
      </if>
      <if test="readOnly != null">
        readOnly,
      </if>
      <if test="required != null">
        required,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createUser != null">
        createUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="templateID != null">
        #{templateID,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="controlID != null">
        #{controlID,jdbcType=INTEGER},
      </if>
      <if test="controlType != null">
        #{controlType,jdbcType=VARCHAR},
      </if>
      <if test="controlValue != null">
        #{controlValue,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="props != null">
        #{props,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        #{options,jdbcType=VARCHAR},
      </if>
      <if test="placeholder != null">
        #{placeholder,jdbcType=VARCHAR},
      </if>
      <if test="readOnly != null">
        #{readOnly,jdbcType=BIT},
      </if>
      <if test="required != null">
        #{required,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.me.mysql.domain.BaseControlExample" resultType="java.lang.Long">
    select count(*) from basecontrol
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update basecontrol
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.templateID != null">
        templateID = #{record.templateID,jdbcType=INTEGER},
      </if>
      <if test="record.labelName != null">
        labelName = #{record.labelName,jdbcType=VARCHAR},
      </if>
      <if test="record.controlID != null">
        controlID = #{record.controlID,jdbcType=INTEGER},
      </if>
      <if test="record.controlType != null">
        controlType = #{record.controlType,jdbcType=VARCHAR},
      </if>
      <if test="record.controlValue != null">
        controlValue = #{record.controlValue,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultValue != null">
        defaultValue = #{record.defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.props != null">
        props = #{record.props,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null">
        options = #{record.options,jdbcType=VARCHAR},
      </if>
      <if test="record.placeholder != null">
        placeholder = #{record.placeholder,jdbcType=VARCHAR},
      </if>
      <if test="record.readOnly != null">
        readOnly = #{record.readOnly,jdbcType=BIT},
      </if>
      <if test="record.required != null">
        required = #{record.required,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        createUser = #{record.createUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update basecontrol
    set pid = #{record.pid,jdbcType=INTEGER},
      templateID = #{record.templateID,jdbcType=INTEGER},
      labelName = #{record.labelName,jdbcType=VARCHAR},
      controlID = #{record.controlID,jdbcType=INTEGER},
      controlType = #{record.controlType,jdbcType=VARCHAR},
      controlValue = #{record.controlValue,jdbcType=VARCHAR},
      defaultValue = #{record.defaultValue,jdbcType=VARCHAR},
      props = #{record.props,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR},
      placeholder = #{record.placeholder,jdbcType=VARCHAR},
      readOnly = #{record.readOnly,jdbcType=BIT},
      required = #{record.required,jdbcType=BIT},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      createUser = #{record.createUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.me.mysql.domain.BaseControl">
    update basecontrol
    <set>
      <if test="templateID != null">
        templateID = #{templateID,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        labelName = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="controlID != null">
        controlID = #{controlID,jdbcType=INTEGER},
      </if>
      <if test="controlType != null">
        controlType = #{controlType,jdbcType=VARCHAR},
      </if>
      <if test="controlValue != null">
        controlValue = #{controlValue,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        defaultValue = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="props != null">
        props = #{props,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        options = #{options,jdbcType=VARCHAR},
      </if>
      <if test="placeholder != null">
        placeholder = #{placeholder,jdbcType=VARCHAR},
      </if>
      <if test="readOnly != null">
        readOnly = #{readOnly,jdbcType=BIT},
      </if>
      <if test="required != null">
        required = #{required,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        createUser = #{createUser,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.me.mysql.domain.BaseControl">
    update basecontrol
    set templateID = #{templateID,jdbcType=INTEGER},
      labelName = #{labelName,jdbcType=VARCHAR},
      controlID = #{controlID,jdbcType=INTEGER},
      controlType = #{controlType,jdbcType=VARCHAR},
      controlValue = #{controlValue,jdbcType=VARCHAR},
      defaultValue = #{defaultValue,jdbcType=VARCHAR},
      props = #{props,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      placeholder = #{placeholder,jdbcType=VARCHAR},
      readOnly = #{readOnly,jdbcType=BIT},
      required = #{required,jdbcType=BIT},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUser = #{createUser,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>